html {
    font-family: "Comic Sans MS", cursive;
    background-color: lawngreen;
}

#jumpMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    gap: 8px;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* Positioning */
    position: fixed;
    top: 0;
    left: 30%;
    right: 30%;

    /* Sizing */
    width: 50%;
    height: 80px;
    padding: 0 20px;

    /* Background */
    background-color: white;
    border-radius: 8px;
}

header p {
    font-size: 36px;
}

main {
    margin-left: 15%;
    padding-top: 100px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#container article {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer {
    margin-top: 40px;
    padding: 20px;
}