html {
    font-family: "Times New Roman", sans-serif;
    background-color: skyblue;
}

#menuItems {
    display: flex;
    flex-direction: column;

    position: fixed;

    width: 15%;
    height: 100vh;

    background-color: darkred;
}

#recentArticles:hover {
    background-color: lemonchiffon;
}

#menuItems > button {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
    color: black;
    background-color: orange;
    padding: 5px 10px;
}

#recentArticles:hover + #jumpMenu {
    display: flex;
    transition-duration: 2s;
}

#jumpMenu {
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    padding: 10px;
    margin: 0;

    list-style-type: none;
    background-color: lemonchiffon;
}

#jumpMenu:hover {
    display: flex;
}

#jumpMenu > li {
    text-align: center;
    width: 112.5%;
}

#jumpMenu > li:hover {
    background-color: orange;
}

#jumpMenu > li > a:hover {
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Positioning */
    position: fixed;
    top: 0;
    left: 16.5%;
    right: 30%;

    /* Size */
    width: 85%;
    height: 12.5%;
    padding: 0 20px;
    margin: 0;

    background-color: coral;
    font-size: 36px;
}

main {
    display: flex;
    flex-direction: column;

    margin-left: 15%;
    padding-top: 100px;
}

main h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#container article {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 300px;
    height: 500px;
    padding: 15px;
    border-radius: 8px;

    font-size: 12px;
    text-align: justify;

    background-color: white;
    color: lightgrey;

    transition: width 2s, height 2s, color 2s;
}

#container article p a::after {
    content: url(arrow.png);
}

#container article:hover {
    width: 400px;
    height: 600px;
    color: black;
    font-size: 16px;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer {
    margin-top: 40px;
    padding: 20px;
}

article p:first-of-type::first-letter {
    font-family: "Times New Roman", sans-serif;
    font-size: 36px;
}

article p a::after {

}